@import 'styles';

:host {
    display: inline-block;
    width: 100%;
    border: $border-control;
    color: $bombay;
    font-size: $base-font-size;
    border-radius: 5px;
    padding: 8px 15px;
    font-family: $base-font-sans-serif;
    font-weight: 600;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

:host.active  {
    color: $black;
    box-shadow: 0 0 10px 3px $shadow-color;

    ::ng-deep idr-check-svg {
        float: right;
        height: 17px;

        svg{
            width: 20px;
            height: 17px;

            path {
                fill:  $caribbean-green
            }

        }
    }
}
