@import 'styles';

$notify-color: #edf1f6;

:host {
    @extend .flex;
}

.data-column {
    @extend .flex;
    padding: 20px 20px 0 20px;

    .table-list {
        @extend .flex;
        margin: 0 0 20px 0;
        // .flexContainer {
        //     display: block !important;
        // }
        // .buttons {
        //     float: left;
        // }
    }
}

// TODO: CLEANUP
// .notify {
//     width: 100%;
//     display: flex;
//     padding: 20px;
//     flex-flow: row nowrap;
//     border-radius: 4px;
//     color: #828992;
//     border: solid 1.5px $border;
//     background-color: $notify-color;
//     font-weight: 600;
//     span {
//         color: #5c6570;
//     }
// }
