<div class="data-column">
    <!--
        TODO: CLEANUP
        <div class="notify">
            <div>Please, select what DATA columns you want to see the Table from a list of <span> Available DATA Columns.
                </span> To change the order of Data column is drag and slide up or down.
            </div>
        </div>
    -->
    <!--
        <div>
        <h3>Update Folders</h3>
        <idr-search-control placeholder="Search" [(ngModel)]="folderSearchText"></idr-search-control>
        <idr-default-btn (click)="newDataColumn()" className="active btn-small" *ngIf="userCanCreateDataColumn">
            <idr-plus-svg class="icon"></idr-plus-svg>
            <span>Create Update Folder</span>
        </idr-default-btn>
    </div> -->

    <div class="table-list">
        <!-- TODO: WARNING: Component used as nested container-->
        <idr-data-column-list searchHolder="Search" [sortableKeys]="['title', 'is_hidden', 'is_private']" [searchKeys]="['title']"
            [listHeader]="listHeader">
            <div class="flex"></div>
            <idr-default-btn class="green small flex-nosize wa m0" (click)="newDataColumn()" *ngIf="userCanCreateDataColumn">
                <idr-icon icon="icon-plus"></idr-icon>
                <span>Create Update Folder</span>
            </idr-default-btn>
        </idr-data-column-list>

        <!-- TODO: CLEANUP
            <idr-data-column-list
                searchHolder="Search"
                [sortableKeys]="['title', 'is_hidden', 'update_interval']"
                [searchKeys]="['title', {author: 'full_name'}]"
                [listHeader]="listHeader">
            </idr-data-column-list>
        -->

    </div>
    <div class="overlay" *ngIf="loadProfile"></div>
</div>
<div class="spinner" *ngIf="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
</div>
