:host {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    box-shadow: 0px 2px 13.4px 0.6px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    display: inline-block;
    border: solid 0.5px #e6e6e6;
    text-align: center;
    line-height: 31px;    
    cursor: pointer;

    ::ng-deep svg {
        width:13px;
        height: 15px;
        path {
            fill: #dddddd;
            transition: fill 0.3s ease-out;
        }
    }
      &:hover {
        ::ng-deep svg {
            path {
                fill: #1563d7
            }
        }
    }
}