@import 'styles';

.view-header {
    @extend .flex,
    .flex-row,
    .flex-nosize,
    .aic;
    margin-bottom: 26px;
}

.table {
    max-width: 700px;
    // height: calc(100vh - 355px);
    // @media (max-width: 1023px) {
    //     height: calc(100vh - 380px);
    // }
    overflow: hidden;
    font-size: $base-font-size;

    &.tableList {
        ::ng-deep {
            .listBody {
                padding-right: 5px!important;
            }
        }
    }
}

.row {
    width: 100%;
    height: 56px;
    @extend .flex,
    .flex-row;
    border-radius: $border-radus;
    margin-bottom: 8px;
    border: $border;

    &.header {
        height: 40px;
        border: solid 1px transparent;
        color: $modal-text-color;
        cursor: pointer;

        &:hover {
            background: none;
        }

        .action {
            min-width: 200px;
        }

        .rowItem {
            color: $modal-text-color !important;
            padding-left: 16px;
        }
    }

    .action {
        display: flex;
        width: 200px;

        &:last-child {
            margin-right: 10px;
        }
    }

    &.hide {
        display: none;
    }

    &Item {
        @extend .flex, .flex-row, .aic;
        padding-left: 12px;
        word-break: break-word;
        color: $grey;

        ::ng-deep svg {
            width: 15px;
            margin-top: 1px;

            polyline {
                stroke: $modal-text-color;
            }
        }

        &.active {
            ::ng-deep svg {
                width: 15px;

                polyline {
                    stroke: $dull-blue;
                }
            }
        }

        &.asc {
            ::ng-deep svg {
                transform: rotate(180deg);
                margin-top: 3px;
            }
        }

        idr-arrow-svg {
            margin-left: 5px;
        }

        .tableList &:first-child {
            word-break: normal;
            word-wrap: normal;
            white-space: nowrap;
            color: $black;
            text-align: left;
            flex-grow: 1;
            align-items: center;
        }

        .tableList &:nth-child(2),
        .tableList &:nth-child(3) {
            color: $black;
        }

        .tableList & {
            flex-grow: 3;
        }
    }
}



.mainInfo {
    @extend .flex,
    .flex-row,
    .flex-nosize,
    .aic;
    position: relative;

    .rowItem {
        display: flex;
    }

    /* Upload folder title */
    .rowItem:nth-child(1) {
        min-width: 225px;
        max-width: 225px;
        font-weight: 600;
        span {
            display: block;
            width: 100%;
            span {
                display: block;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    /* Visibility */
    .rowItem:nth-child(2) {
        min-width: 150px;
        max-width: 150px;
    }

    /* Private/Public */
    .rowItem:nth-child(3) {
        min-width: 150px;
        max-width: 150px;
    }

    /* Actions */
    .rowItem:nth-child(4) {}

    /* Reorder */
    .rowItem:nth-child(4) {
        min-width: 200px;
        max-width: 200px;
    }

    // @media (max-width: 1023px) {
    //     .rowItem:nth-child(3) {
    //         min-width: 130px;
    //         max-width: 150px;
    //     }
    //     .rowItem:nth-child(4) {
    //         min-width: 117px;
    //         max-width: 137px;
    //     }
    // }

    .actions {
        min-width: 150px;
        max-width: 150px;
    }

    .isPrivate,
    .showHide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blue-text {
        color: $selected-color;
    }
}

:host {
    @extend .flex;
    max-width: 700px;

    ::ng-deep {
        .mat-slide-toggle .mat-slide-toggle-ripple {
            display: none;
        }

        .btn.btn-small.btn-active {
            margin: 0;
            height: 37px;
        }

        // TODO: Promote to global height
        h3 {
            @extend .flex,
            .m0;
        }

        .table-list {
            margin-top: 0;
        }

        .inactive-text {
            color: $modal-text-color
        }

        .searchContainer {
            position: relative;
            margin-right: 10px;

            input {
                @include placeholder {
                    color: $bombay;
                    -webkit-text-fill-color: $bombay;
                }

                min-width: 200px !important;
                border: $border-control;
                font-size: $base-font-size;
                border-radius: $border-radus;
                padding: 11px 15px 11px 20px;
                font-family: $base-font-sans-serif;
                font-weight: 600;
                color: $black;
                -webkit-text-fill-color: $black;

                &:focus {
                    outline: none;
                }
            }

            .searchIcon {
                position: absolute;
                right: 9px;
                top: 9px;

                ::ng-deep svg {
                    width: 15px;

                    path {
                        fill: $bombay;
                    }
                }
            }
        }
    }

    ::ng-deep .ng-scrollbar.-vertical {
        @include respond-to('min-large') {
            width: 3px;
        }

        background: rgba(0, 0, 0, 0.1);

        .ng-scrollbar-thumb {
            background: $dull-blue;
        }
    }

    ::ng-deep .ng-scrollbar.-horizontal {
        background: rgba(0, 0, 0, 0.1);
        visibility: hidden;

        @include respond-to('extra-large') {
            height: 3px;
            visibility: visible;
        }

        .ng-scrollbar-thumb {
            background: $dull-blue;
        }
    }

    ::ng-deep .ng-scrollbar-container {}
}

.mat-slide-toggle {
    ::ng-deep .mat-slide-toggle-label {
        position: relative;

        .cdk-visually-hidden {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
            outline: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        .mat-slide-toggle-thumb {
            width: 47.5px;
            height: 26px;
            border-radius: $border-radus;
            background-color: #fafafa;
            box-shadow: none;
        }

        .mat-slide-toggle-bar {
            background-color: $selected-color;
            transition: all 80ms linear;
            transition-property: background-color;
            transition-delay: 50ms;
            position: relative;
            width: 100px;
            height: 32px;
            border-radius: $border-radus;

        }

        .mat-slide-toggle-thumb-container {
            top: 3px;
            transform: translate3d(3px, 0, 0);
        }

        .mat-slide-toggle-content {
            position: absolute;
            z-index: 3;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
            width: 77px;
            left: 11px;
            font-size: 12px;

            .show {
                color: #10161d;
                border: none;
            }

            .hide {
                color: #fff;
            }
        }
    }

    &.mat-checked {
        ::ng-deep .mat-slide-toggle-thumb-container {
            transform: translate3d(49px, 0, 0);
            top: 2px;

            .mat-slide-toggle-thumb {
                border: solid 1px #ccc;
            }
        }

        ::ng-deep .mat-slide-toggle-label .mat-slide-toggle-bar {
            background: #f8f7f7;
            border: solid 1px #ccc;
        }

        ::ng-deep .mat-slide-toggle-content {

            .show {
                color: #babfc4;
            }

            .hide {
                color: #10161d;
            }
        }
    }
}

// ngx-dnd styles
.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* non-prefixed version, currently not supported by any browser */
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    border-color: grey;
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    border-color: black
}
