@import 'styles';

:host {
    display: inline-block;
    background: $white;
    padding: $modal-wrap-padding;
    border-radius: 10px;
    box-shadow: 0 0 25px 1px $shadow-color;
    position: relative;
    overflow: hidden;
}

.iconDecor {
    @extend .flex, .jcc, .aic;
    border-radius: 50%;
    background: $link-water;
    padding: $icon-decor-padding;
    border: $icon-decor-border solid $white;
    width: 105px;
    height: 105px;
    vertical-align: middle;
    margin: $icon-decor-margin-top auto 0;
    box-shadow: 0 0 25px lighten($shadow-color, 5%);
    margin-bottom: 40px;

    ::ng-deep  {
       .idr-icon {
            .mat-icon {
                width: 50px;
                height: 50px;
                svg {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 100px;
                    path {
                        fill: $denim;
                    }
                }
            }
        }
    }
}

h3 {
    font-size: 20px;
    margin-top: -17px;
    margin-bottom: -5px;
    text-align: center;
}
