<div class="header">
    <h3 class="title flex">{{ headerText }}</h3>
    <div class="flex-nosize">
        <idr-icon icon="icon-close" class="flex-nosize" (click)="close()"></idr-icon>
    </div>
</div>

<div class="body">
    <form [formGroup]="form" class="form fieldset-group" novalidate>

        <table>
            <thead>
                <tr>
                    <th>
                        <idr-input-text (control)="form.get('first_name')" formControlName="first_name"
                            placeholder="Enter First Name"></idr-input-text>
                    </th>
                    <th>
                        <idr-input-text (control)="form.get('last_name')" formControlName="last_name"
                            placeholder="Enter Last Name"></idr-input-text>
                    </th>
                    <th>
                        <idr-input-text (control)="form.get('mrn')" formControlName="mrn" placeholder="MRN">
                        </idr-input-text>
                    </th>
                    <th>
                        <idr-input-text (control)="form.get('dob')" formControlName="dob" placeholder="DOB">
                        </idr-input-text>
                    </th>
                    <th>
                        <idr-input-text (control)="form.get('list_name')" formControlName="list" placeholder="List">
                        </idr-input-text>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div (click)="sort(0)">
                            <span>First Name</span>
                            <idr-icon icon="icon-sort" [ngClass]="{'flipY': sortDirection == 1}">icon-sort</idr-icon>
                        </div>
                    </th>
                    <th>
                        <div (click)="sort(1)">
                            <span>Last Name</span>
                            <idr-icon icon="icon-sort" [ngClass]="{'flipY': sortDirection == 1}">icon-sort</idr-icon>
                        </div>
                    </th>
                    <th>
                        <div (click)="sort(2)">
                            <span>MRN</span>
                            <idr-icon icon="icon-sort" [ngClass]="{'flipY': sortDirection == 1}">icon-sort</idr-icon>
                        </div>
                    </th>
                    <th>
                        <div (click)="sort(3)">
                            <span>DOB</span>
                            <idr-icon icon="icon-sort" [ngClass]="{'flipY': sortDirection == 1}">icon-sort</idr-icon>
                        </div>
                    </th>
                    <th>
                        <div (click)="sort(4)">
                            <span>List</span>
                            <idr-icon icon="icon-sort" [ngClass]="{'flipY': sortDirection == 1}"></idr-icon>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of people$ | async" (click)="selectedPatient = person" [ngClass]="{'active': selectedPatient == person}">
                    <td>
                        {{ person.first_name }}
                    </td>
                    <td>
                        {{ person.last_name }}
                    </td>
                    <td>
                        {{ person.mrn }}
                    </td>
                    <td>
                        {{ person.dob }}
                    </td>
                    <td>
                        {{ person.List }}
                    </td>
                </tr>
            </tbody>
        </table>

    </form>
</div>
<div class="footer">
    <idr-default-btn class="green" (click)="ok()">
        <idr-icon icon="icon-check"></idr-icon>
        <span>Add Patient</span>
    </idr-default-btn>
</div>
