<svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66.03 66">
    <path fill="none" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M40.518 40.651l-8.79-8.79 8.79-8.791"/>
    <path fill="none" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M23.067 40.651l8.791-8.79-8.791-8.791"/>
    <path fill="none" stroke="#FFF" stroke-width="4" d="M32 2c16.569 0 30 13.431 30 30 0 16.569-13.431 30-30 30C15.432 62 2 48.569 2 32 2 15.431 15.432 2 32 2z"/>
</svg>
