@import 'styles';

:host {
    .header {
        @extend .flex, .flex-row, .aic;
        padding: 15px;
        border-bottom: $border-control;

        h3 {
            @extend .flex;
            margin: 0;
        }
    }

    .body {
        padding: 15px;

    }

    .footer {
        @extend .flex, .flex-row, .aic;
        padding: 10px 15px;
        border-top: $border-control;

        idr-default-btn {
            @extend .flex, .flex-row;
            margin-right: 10px;
            .btn.btn-active {
                margin: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }

}

::ng-deep .mat-dialog-container {
    padding: 0;
    box-shadow: none;
    overflow: visible;
}

// .btn {
//     width: 100%;
//     background: none;
//     text-align: center;
//     border: 0;
//     display: inline-block;
//     font-size: $base-font-size + 2;
//     padding: 7px 17px;
//     border-radius: 4px;
//     margin-bottom: 20px;
//     box-shadow: 0 5px 10px lighten($shadow-color, 10%);
//     font-weight: 600;
//     outline: none;
//     position: relative;
//     overflow: hidden;
//     transition: all .5s;
//     height: 40px;

//     idr-check-svg,
//     idr-close-svg {
//         float: left;
//         z-index: 2;
//         position: absolute;
//         left: 25px;
//     }

//     span {
//         position: relative;
//         z-index: 2;
//         display: block
//     }

//     &:before,
//     &:after {
//         content: '';
//         position: absolute;
//         left: 0;
//         top: 0;
//         right: 0;
//         bottom: 0;
//         height: 100%;
//         background: $dull-blue;
//         /* onhover background color */
//         z-index: -1;
//         transform: translate3D(0, -100%, 0);
//         /* move elements above button so they don't appear initially */
//         transition: all .5s;
//     }

//     &:before {
//         z-index: 1;
//         top: 0;
//         left: 0;
//         width: 150%;
//         background: $dull-blue;
//         transform-origin: 0 bottom;
//         transform: translateX(-100%) rotate(-30deg);
//     }

//     &:after {
//         top: 0;
//         left: auto;
//         right: 0;
//         width: 150%;
//         transform-origin: right bottom;
//         transform: translateX(100%) rotate(30deg);
//     }

//     &:hover {
//         cursor: pointer;
//         color: $white;

//         &:after {

//             right: 0;
//             transform: rotate(0deg);
//             transition: all .5s;
//         }

//         &:before {
//             left: 0;
//             transform: rotate(0deg);
//             transition: all .5s;
//         }


//         ::ng-deep svg {
//             path {
//                 fill: $white;
//             }
//         }

//     }

//     &:focus {
//         outline: none;
//     }

//     &-default {
//         background: $white;
//         color: $black;
//         border: $border;


//         ::ng-deep svg {
//             path {
//                 fill: $btn-background;
//                 transition: all .5s;
//             }
//         }

//     }

//     &-active {
//         background: $btn-background;
//         color: $btn-color;


//         ::ng-deep svg {
//             path {
//                 fill: $white;
//                 transition: all .5s;
//             }
//         }

//     }

//     ::ng-deep svg {
//         width: 14px;
//         height: 14px;
//     }

// }

mat-dialog-content {
    padding: 20px 20px;
    color: $bombay;
}
