@import 'styles';

:host {
    mat-dialog-content.mat-dialog-content {
        overflow: unset !important;
    }

    .header,
    .body,
    .footer {
        padding: 15px;
    }

    .header {
        @extend .flex, .flex-row, .aic;
        border-bottom: $border-control;
        h3 {
            @extend .flex;
            margin: 0;
        }
        .idr-icon {
            @extend .flex-nosize;
        }
    }

    .body {
        @extend .flex, .aic, .jcc;
        padding: 15px;
    }

    .footer {
        @extend .flex, .flex-row, .flex-nosize, .aic;
        border-top: $border-control;
        idr-default-btn {
            @extend .flex;
            width: auto;
            margin: 0;
            margin-right: 15px;
            &:last-child { margin-right: 0px; }
        }
    }
}
