<div class="header">
    <h3 class="title flex">{{headerText}}</h3>
    <div class="flex-nosize">
        <idr-icon icon="icon-close" class="flex-nosize" (click)="closeDialog()"></idr-icon>
    </div>
</div>

<div class="body">
    <form class="form fieldset-group" novalidate>
        <fieldset id="sort" class="fieldset-sort">
            <legend>Sort by:</legend>
            <label for="room-number" [ngClass]="{'picked': sort === 1, 'unborder': sort === 2}"
                class="left-radius"><span>SSN</span></label>
            <input type="radio" [value]=1 name="sort" id="room-number" [(ngModel)]='sort'>
            <label for="first-name"
                [ngClass]="{'picked': sort === 2, 'unborder': sort === 3}"><span>First Name</span></label>
            <input type="radio" [value]=2 name="sort" id="first-name" [(ngModel)]='sort'>
            <label for="last-name"
                [ngClass]="{'picked': sort === 3, 'unborder': sort === 4}"><span>Last Name</span></label>
            <input type="radio" [value]=3 name="sort" id="last-name" [(ngModel)]='sort'>
            <label for="dob" [ngClass]="{'picked': sort === 4}" class="right-radius"><span>DOB</span></label>
            <input type="radio" [value]=4 name="sort" id="dob" [(ngModel)]='sort'>
            <label for="room" [ngClass]="{'picked': sort === 5}" class="right-radius"><span>Room</span></label>
            <input type="radio" [value]=5 name="sort" id="room" [(ngModel)]='sort'>
        </fieldset>

        <fieldset id="order" class="fieldset-order">
            <legend>Order:</legend>
            <label for="ascending" class="left-radius"
                [ngClass]="{'picked': order === 1}"><span>Ascending</span>
                <idr-arrow-svg class="asc"></idr-arrow-svg>
            </label>
            <input type="radio" [value]=1 name="order" id="ascending" [(ngModel)]='order'>
            <label for="descending" class="right-radius"
                [ngClass]="{'picked': order === 2}"><span>Descending</span>
                <idr-arrow-svg class="des"></idr-arrow-svg>
            </label>
            <input type="radio" [value]=2 name="order" id="descending" [(ngModel)]='order'>
        </fieldset>
    </form>
</div>
<div class="footer">
    <idr-default-btn (click)="closeDialog()">
        <idr-icon icon="icon-close"></idr-icon>
        <span>Cancel</span>
    </idr-default-btn>
    <idr-default-btn class="green" (click)="applySort()">
        <idr-icon icon="icon-check"></idr-icon>
        <span>Apply</span>
    </idr-default-btn>
</div>
