@import 'styles';

:host {
    margin-bottom: 15px;
    h3 {
        @extend .flex;
        margin: 0;
        font-size: 20px;
    }
    .toolbar {
        @extend .flex, .flex-row, .aic;
        height: 50px;
        border-bottom: solid 1px #ccc;
        margin-bottom: 15px;
    }
    .gap {
        align-items: flex-start;
    }
}
