<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="100%" height="100%" viewBox="0 0 25.4 13.187">
    <defs>
        <style>
            .cls-4 {
                stroke: #d3d5d8;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 4px;
                fill: none;
                fill-rule: evenodd;
            }
        </style>
    </defs>
    <path d="M22.414,3.984 L13.201,13.197 L3.987,3.984 " class="cls-4"/>
</svg>