@import 'styles';

:host {
    @extend .flex;

    .col-folders {
        @extend .flex;
        position: relative;
        flex: 0 0 260px;
        max-width: 260px;
        border-right: $border-control;

        ::ng-deep {
            .title {
                color: black;
                display: block;
                max-width: 130px;
                margin-right:10px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                letter-spacing: 0.4px;
            }
        }

        .sub-folder {
            @extend .flex, .flex-row, .aic;
            height: 40px;
            font-size: 13px;
            cursor: pointer;
            border-bottom: $border-control;
            &:last-child { border-bottom: 0 }
            ::ng-deep {
                .title {
                    max-width: 105px;
                }
            }
            // TODO: Refactor to @mixin
            .idr-icon {
                &.active {
                    ::ng-deep {
                        svg {
                            circle,
                            path {
                                fill: $dull-blue;
                            }
                        }
                    }
                }
            }
        }

    }

    .col-updates {
        @extend .flex;
        flex: 0 0 390px;
        max-width: 390px;
        border-right: $border-control;
    }

    ::ng-deep {
        .mat-accordion {
            .mat-expansion-panel {
                box-shadow: none!important;
                &.mat-expanded { border-bottom: solid 4px $border-color; }
                .mat-expansion-panel-header {
                    cursor: pointer;
                    border-bottom: $border-control;
                    padding: 0 0 0 15px;
                    .mat-expansion-panel-header-title {
                        @extend .flex, .flex-row, .aic;
                        font-size: 13px;
                        font-weight: bold;
                        margin-right: 0;
                    }
                }
                .mat-expansion-panel-body {
                    padding: 0 0 0 24px;
                }
            }
        }
        .icon {
            @extend .flex, .flex-nosize, .aic, .jcc;
            &.expired {
                svg {
                    path {
                        fill: $red;
                    }
                }
            }
            &.active {
                margin-right: 8px;
                margin-bottom: 1px;
                svg {
                    path {
                        fill: $dull-blue;
                    }
                }
            }
            &.inactive {
                margin-right: 8px;
                margin-bottom: 1px;
                svg {
                    path {
                        fill: $new-gray;
                    }
                }
            }
            &.chevron-right {
                margin: 0 5px 0 0;
                svg {
                    transform: rotate(90deg);
                    path {
                        fill: $new-gray;
                    }
                }
            }
            &.chevron-up {
                margin: 0 5px 0 0;
                svg {
                    path {
                        fill: $dull-blue;
                    }
                }
            }
            &.chevron-down {
                margin: 0 5px 0 0;
                svg {
                    transform: rotate(180deg);
                    path {
                        fill: $new-gray;
                    }
                }
            }
        }

        .badge {
            background: $grey;
            border-radius: 3px;
            padding: 1px 5px;
            margin-right: 5px;
            color: #fff;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            &.active {
                background: $green;
            }
        }

    }
}
