@import 'styles';

$imageW: 100%;
$height: $imageW / 1.27;

:host {
    display: flex;

    @include respond-to('min-large') {
        display: block;

        .leftColumn {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
    }

    .leftColumn {
        max-width: 340px;
        min-width: 340px;
    }

    .rightColumn {
        padding: 25px;
    }

}

.form {
    padding: 15px 0;

    &Wrap {
        width: 100%;

        h4 {
            color: $black;
            border-bottom: $border;
            margin: 0;
            padding: 15px 0;
        }

        label {
            color: $bombay;
            display: block;
            margin-bottom: 0px;
            margin-top: 10px;
            font-size: $base-font-size + 1;
            font-weight: 400;
        }
    }

    idr-default-btn {
        display: inline-block;

        ::ng-deep span.btn{
            @include respond-to('min-large') {
                line-height: 20px;
            }
            > span { @extend .flex, .flex-row; }
        }
    }
}

:host::ng-deep {
    idr-default-btn {
        span.btn {
            > span { @extend .flex, .flex-row; display: flex!important; }
        }
    }
}

.avatarWrap {
    @include respond-to('min-large') {
        flex-basis: 50%;
        padding-top: calc(50% / 1.27);
    }
    width: $imageW;
    overflow: hidden;
    padding-top: $height;
    height: 0;
    border-radius: 10px;
    background:$gray url('/assets/images/placeholder.svg') no-repeat 50% 50%;
    position: relative;

    img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.rightControlWrap {
    @include respond-to('min-large') {
        flex-basis: 40%;
        margin-top: 0;
        padding: 0px 20px;
    }
    background: $gray;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    padding: 0px 20px 10px;
    overflow: hidden;

    h3 {
        color: $black;
        font-size: $base-font-size + 2;
    }

    p {
        margin-bottom: 20px;
        color: $bombay;
        font-weight: 600;
        font-size: $base-font-size;
    }
}

.ng-select {
    ::ng-deep .ng-select-container {
        border: $border;
    }
}

.ng-select.ng-select-disabled {
    &:focus {
        outline: none
    }

    ::ng-deep .ng-select-container {
        background: none;
        border: 0;

        &:hover {
            box-shadow: none;
        }

        .ng-value-container {
            padding: 0;
            color: $black;

            &:focus {
                outline: none
            }
        }

        .ng-arrow {
            display: none;
        }
    }
}

ng-select {
    position: relative;
    margin-bottom: 15px;

    &.required ::ng-deep .ng-select-container {
        &:before {
            content: '*';
            position: absolute;
            top: 9px;
            left: 10px;
            color: $red;
            z-index: 2;
        }

        &.ng-has-value {
            &:before {
                display: none;
            }
        }

        .ng-value-container .ng-placeholder {
            padding-left: 15px;
        }
    }
}

.form-control {
    margin-bottom: 10px;
    width: 100%;
    position: relative;

    input {
        @include placeholder {
            color: $bombay;
            -webkit-text-fill-color: $bombay;
        }
        width: 100%;
        border: $border-control;
        font-size: $base-font-size;
        border-radius: 5px;
        font-family: $base-font-sans-serif;
        font-weight: 600;
        padding: 5px 15px 5px 20px;
        color: $black;
        -webkit-text-fill-color: $black;

        &:focus {
            outline: none;
        }

        &[readonly] {
            border: 0;
            padding-left: 0;
             font-size: $base-font-size + 1;

            & + .required {
                display: none;
            }
        }
    }


    &.hasError {
        input {
            border-color: $red;
        }
    }
    .required {
        position: absolute;
        top: 9px;
        left: 10px;
        color: $red;
    }

}


