@import 'styles';

:host {
    position: absolute;
    top: 80px;
    left: 20px;
    cursor: pointer;
    color: $bombay;

    &:focus {
        outline: none;
    }

    svg {
        vertical-align: middle;
        margin-top: -2px;
        height: 16px;
        display: inline-block;

        path {
            fill: $dull-blue;
        }
    }
}
