@import 'styles';

:host {
    display: block;
    width: 100%;
    padding: 15px;

    .header {
        @extend .flex;
        position: relative;
        padding: 15px;

        .icon-back {}

        h3 {
            @extend .flex;
            margin: 0;
            text-align: center;
        }

        .link.back {
            @extend .pa,
            .fill,
            .flex,
            .flex-row,
            .aic;
            right: unset;
            width: unset;
            font-size: $base-font-size;
            color: black;
            padding-bottom: 40px;

            ::ng-deep {
                svg {
                    margin: 0 5px;
                    height: 14px;
                    path: {
                        fill: $dull-blue;
                    }
                }
            }
        }

        .logo {
            @extend .flex,
            .jcc,
            .aic;
            border-radius: 50%;
            background: $link-water;
            padding: $icon-decor-padding;
            border: $icon-decor-border solid $white;
            width: 105px;
            height: 105px;
            vertical-align: middle;
            margin: $icon-decor-margin-top auto 0;
            box-shadow: 0 0 25px lighten($shadow-color, 5%);
            margin-bottom: 30px;

            ::ng-deep {
                .idr-icon {
                    .mat-icon {
                        width: 50px;
                        height: 50px;

                        svg {
                            width: 100%;
                            height: 100%;
                            display: inline-block;
                            vertical-align: middle;
                            line-height: 100px;

                            path {
                                fill: $denim;
                            }
                        }
                    }
                }
            }
        }
    }

    .body {
        color: black;
        padding: 15px;

        ng-select {
            margin: 0;
        }
    }

    .footer {
        @extend .flex,
        .aic,
        .jcc;
        padding: 10px 15px;

        idr-default-btn {
            @extend .flex;
            width: 100%;
            margin: 0 0 10px 0;
        }
    }
}

.form-control {
    margin-bottom: 10px;
}

.list-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.list-group-item {
    text-align: left;
    flex-basis: 48%;
    margin-bottom: 10px;
}

.form-control.phoneMask {
    margin-bottom: 10px;
    width: 100%;
    position: relative;

    input {
        @include placeholder {
            color: $bombay;
            -webkit-text-fill-color: $bombay;
        }

        width: 100%;
        border: $border-control;
        font-size: $base-font-size;
        border-radius: 5px;
        font-family: $base-font-sans-serif;
        font-weight: 600;
        padding: 8px 15px 8px 20px;
        color: $black;
        -webkit-text-fill-color: $black;

        &:focus {
            outline: none;
        }

        &[readonly] {
            border: 0;
            padding-left: 0;
            font-size: $base-font-size + 1;

            &+.required {
                display: none;
            }
        }
    }


    &.hasError {
        input {
            border-color: $red;
        }
    }

    .required {
        position: absolute;
        top: 9px;
        left: 10px;
        color: $red;
    }

}

::ng-deep .ng-select.hasError .ng-select-container {
    border-color: $red;
}

::ng-deep .cdk-overlay-container {
    z-index: 1002;
}
