    <div class="header">
        <h3 class="title flex">{{popup.header}}</h3>
            <div class="flex flex-row flex-nosize">
                <div class="flex flex-row gap">
                    <idr-button icon="icon-close" class="white mr15" (click)="closeDialog()">
                        Cancel
                    </idr-button>
                    <idr-button *ngIf="deleteList" class="white mr15" icon="icon-trash" (click)="deleteCreatedList()">
                        Delete list
                    </idr-button>
                    <idr-button icon="icon-check" class="blue mr20" (click)="createList()">
                        Save list
                    </idr-button>
                </div>
            <idr-icon icon="icon-close" class="flex-nosize" (click)="closeDialog()"></idr-icon>
        </div>
    </div>
    <div class="body">
        <mat-dialog-content>
            <div class="rowList">
                <div class="columnList">
                    <div class="flexContainer">
                        <div class="columnTitle">Search members</div>
                        <div class="searchContainer">
                            <input
                                class="search"
                                [(ngModel)]="searchText"
                                placeholder="Search team member"
                            >
                            <idr-icon icon="icon-search" class="suffix"></idr-icon>
                        </div>
                        <p class="desc">Search staff member and add to the list</p>
                    </div>
                </div>
                <div class="columnList">
                    <div class="flexContainer">
                        <div class="columnTitle">List name</div>
                        <div class="searchContainer" [formGroup]="listForm">
                            <idr-input-text
                                class="search"
                                placeholder="List name"
                                [hasError]="listForm.get('title').invalid && formSubmitted"
                                formControlName="title"
                                [control]="listForm.get('title')">
                            </idr-input-text>
                            <span class="asterisk">*</span>
                        </div>
                        <p class="desc">New list name</p>
                    </div>
                </div>
            </div>
            <div class="rowList" *ngIf="listForm.get('title').value">
                <div class="columnList">
                    <div class="table">
                        <div class="header row">
                            <div class="rowItem">
                                <mat-checkbox [(ngModel)]="checked"
                                    (change)="selectAll2(checked, membersAll)"></mat-checkbox>
                            </div>
                            <div
                                class="rowItem"
                                [ngClass]="{'active': active2 === 'first_name', 'asc': (direc && active2 === 'first_name')}"
                                (click)="sortable('first_name'); active2 = 'first_name'">
                                All members
                                <idr-arrow-svg></idr-arrow-svg>
                            </div>
                            <div
                                class="rowItem"
                                [ngClass]="{'active': active2 === 'title', 'asc': (direc && active2 === 'title')}"
                                (click)="sortable('title'); active2 = 'title'">
                                Job
                                <idr-arrow-svg></idr-arrow-svg>
                            </div>
                        </div>
                        <ng-scrollbar>
                            <mat-selection-list #membersAll [(ngModel)]="selectedOptions" class="listBody">
                                <mat-list-option
                                    *ngFor="let row of members | select:  keys : searchText;"
                                    class="row"
                                    [value]="row"
                                    [ngStyle]="{'display': row.hidden}"
                                >
                                    <span class="rowItem">{{row.first_name}} {{row.last_name}}</span>
                                    <span class="rowItem">{{row.title}}</span>
                                </mat-list-option>
                            </mat-selection-list>
                        </ng-scrollbar>

                    </div>

                    <idr-button class="green tac" (click)="addToList(membersAll)">
                        Add selection to new list
                    </idr-button>

                </div>
                <div class="columnList">
                    <div class="table">
                        <div class="header row">
                            <div class="rowItem">
                                <mat-checkbox [(ngModel)]="newListChecked"
                                    (change)="selectAll2(newListChecked, newList)"></mat-checkbox>
                            </div>
                            <div class="rowItem"
                                [ngClass]="{'active': active === 'first_name', 'asc': (direc && active === 'first_name') }"
                                (click)="sortableList('first_name'); active = 'first_name'"
                            >Name
                                <idr-arrow-svg></idr-arrow-svg>
                            </div>
                            <div class="rowItem"
                                [ngClass]="{'active': active === 'title', 'asc': (direc && active === 'title')}"
                                (click)="sortableList('title'); active = 'title'">Job
                                <idr-arrow-svg></idr-arrow-svg>
                            </div>
                        </div>
                        <ng-scrollbar>
                            <mat-selection-list #newList class="listBody">
                                <mat-list-option
                                    *ngFor="let row of membersInList"
                                    class="row"
                                    [value]="[row]"
                                >
                                    <span class="rowItem">{{row.first_name}} {{row.last_name}}</span>
                                    <span class="rowItem">{{row.title}}</span>
                                </mat-list-option>
                            </mat-selection-list>
                        </ng-scrollbar>
                    </div>
                    <idr-button class="green tac" (click)="removeFromList(newList, membersAll)">
                        Remove selection from new list
                    </idr-button>
                </div>
            </div>
        </mat-dialog-content>
    </div>
